@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Heavitas";
    src: local("Heavitas"),
    url("./assets/fonts/Heavitas.ttf"), format("truetype");
}
@font-face{
    font-family:"StretchPro";
    src:local("StretchPro"), url("./assets//fonts/StretchPro.otf"), format("opentype");
}